.table-tab-bar {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    background-color: var(--primary-color-3);
    border: 1pt solid var(--primary-color-5);
    padding: 0.5rem;
    border-radius: 1rem;
}

.table-tab {
    color: var(--secondary-color);
    background-color: var(--primary-color-4);
    text-decoration: none;
    padding: 4pt 32pt;
    border: 1pt solid var(--primary-color-5);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.table-tab.active {
    color: var(--primary-color-4);
    background-color: var(--focused-border-color);
    border: 1pt solid var(--secondary-color-5);
}